#coffee-bg {
  background-color: rgba(8, 68, 122, 0.4);
}
#coffee-form {
  max-width: 580px;
  border-radius: 4px;
  background: transparent;
}
#coffee-form-inner {
  padding: 0;
  background: transparent;
  box-shadow: none;
}
#coffee-q {
  margin: 0;
  padding: 2.2rem 1rem;
  color: #fff;
  border-radius: 4px;
  background: #08447a;
  font-weight: 100;
}
#coffee-results ul {
  top: -2px !important;
  max-width: 560px;
  padding: 0;
}
#coffee-results li {
  overflow: hidden;
}
#coffee-results a {
  padding: 1rem;
  text-transform: uppercase;
}
#coffee-results .description {
  text-transform: lowercase;
  font-style: italic;
}
#coffee-results a.ui-state-hover,
#coffee-results a.ui-state-active,
#coffee-results a:focus,
#coffee-results a:hover,
#coffee-results .ui-state-focus {
  color: #fff;
  background: #0678be;
}
#coffee-results a.ui-state-hover .description,
#coffee-results a.ui-state-active .description,
#coffee-results a:focus .description,
#coffee-results a:hover .description,
#coffee-results .ui-state-focus .description {
  color: #08447a;
}
