.field--gutenberg #edit-body-0-format {
  display: none;
}

.gutenberg-header-settings .form-actions {
  margin: 0;
  padding: 0;
}

.interface-interface-skeleton__sidebar .details-wrapper {
  overflow: hidden;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) {
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) legend {
  position: initial;
  top: 0;
  width: 100%;
  margin-bottom: 0;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) > div {
  padding: 1rem;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) .media-library-selection .media-library-item {
  padding: 0.5rem;
  border-radius: 4px;
  background: white;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) .media-library-selection .media-library-item .media-library-item__name {
  font-weight: 700;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) .media-library-selection .media-library-item input.button {
  margin-bottom: 1rem;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) .media-library-selection picture {
  display: block;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) .media-library-selection picture img {
  width: 100%;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) legend > div {
  margin-bottom: 0;
}

.interface-interface-skeleton__sidebar fieldset:not(.fieldgroup) legend > div > span {
  margin: 0;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.interface-interface-skeleton__sidebar .components-custom-gradient-picker__ui-line {
  display: flex;
  flex-direction: column;
}

.interface-interface-skeleton__sidebar .components-custom-gradient-picker__ui-line .components-base-control {
  width: 100%;
}

.interface-interface-skeleton__sidebar input.form-text,
.interface-interface-skeleton__sidebar select.form-select {
  width: 100%;
}

.components-panel__header.edit-post-sidebar-header .components-icon-button {
  display: none;
}

.gutenberg__editor .edit-post-layout .edit-post-sidebar .edit-post-sidebar__panel-tabs ul {
  width: 100%;
}

@media screen and (min-width: 782px) {
  .blocks-table__placeholder-form.blocks-table__placeholder-form {
    align-items: center;
  }
}

.gutenberg__editor .edit-post-layout .interface-interface-skeleton__content .blocks-table__placeholder-form .components-base-control__label {
  flex: 1;
  margin-bottom: 0;
  word-break: break-word;
}

.gutenberg__editor .edit-post-layout .interface-interface-skeleton__content .blocks-table__placeholder-form .components-text-control__input {
  flex: 1;
}

.gutenberg__editor .edit-post-layout .interface-interface-skeleton__content .blocks-table__placeholder-form .blocks-table__placeholder-input {
  width: 100%;
  max-width: unset;
}

@media screen and (min-width: 782px) {
  .gutenberg__editor .edit-post-layout .interface-interface-skeleton__content .blocks-table__placeholder-form .blocks-table__placeholder-input {
    width: auto;
    max-width: 33%;
  }
}

@media screen and (min-width: 782px) {
  .gutenberg__editor .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
    min-width: 350px;
  }
}

.components-panel__header.edit-post-sidebar__panel-tabs li {
  flex: 1;
}

.edit-post-sidebar button.edit-post-sidebar__panel-tab {
  width: 100%;
}

.gutenberg__editor #edit-status-wrapper {
  margin: 1rem 0;
}

.gutenberg__editor #edit-status-wrapper .form-item {
  padding: 0;
}

.gutenberg__editor #edit-status-wrapper .form-item label.option {
  position: relative;
  top: 2px;
  margin-left: 2px;
  font-weight: bolder;
}

.edit-post-sidebar .entity-meta .entity-meta__header {
  padding: 10px 10px;
}

.edit-post-sidebar .entity-meta {
  margin-bottom: 0;
}

/* stylelint-disable-next-line selector-not-notation */
.gutenberg__editor .components-icon-button:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
  box-shadow: unset;
}

@media screen and (min-width: 782px) {
  .edit-post-text-editor__body {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

.components-icon-button.has-text svg {
  margin-right: 0;
}

.gutenberg__editor .edit-post-text-editor__toolbar {
  display: flex;
  align-items: center;
}

.gutenberg__editor .edit-post-text-editor {
  padding-top: 22px;
}

.edit-post-layout__metaboxes:not(:empty) {
  margin-bottom: 38px;
}

.gutenberg__editor .edit-post-layout .edit-post-sidebar .form-type-radio,
.gutenberg__editor .edit-post-layout .edit-post-sidebar .form-type-checkbox {
  padding-left: 0 !important;
}

.gutenberg__editor .edit-post-layout .edit-post-sidebar .form-type-radio .form-radio {
  width: 20px;
  height: 20px;
  margin-right: 0;
  margin-left: 0;
}

@media screen and (min-width: 782px) {

  body .gutenberg__editor .edit-post-layout .edit-post-header {
    top: 60px !important;
  }

  body.toolbar-horizontal.toolbar-tray-open .edit-post-layout__content {
    top: 130px !important;
  }


  body.toolbar-horizontal.toolbar-tray-open .edit-post-layout.is-mode-text .edit-post-layout__content {
    top: 180px !important;
  }

  body.toolbar-horizontal.toolbar-tray-open .edit-post-header {
    top: 102px !important;
  }

  .gutenberg__editor .edit-post-layout .edit-post-sidebar {
    top: 116px !important;
  }

  body.toolbar-horizontal.toolbar-tray-open .edit-post-sidebar {
    top: 158px !important;
  }
}

/* Gutenberg 8 */
.interface-interface-skeleton,
.toolbar-vertical.toolbar-tray-open .interface-interface-skeleton {
  top: 60px;
}

.toolbar-horizontal.toolbar-tray-open .interface-interface-skeleton {
  top: 102px;
}

.edit-post-layout__metaboxes {
  background-color: #fff;
}

.edit-post-layout__metaboxes .field--widget-media-library-widget .media-library-selection .media-library-item__preview img {
  width: 100%;
}

.interface-interface-skeleton .edit-post-layout__metaboxes:not(:empty) {
  margin-bottom: 0;
}

.edit-post-layout__metaboxes:not(:empty) .edit-post-meta-boxes-area {
  max-width: 810px;
  margin: auto;
}

.interface-interface-skeleton .interface-complementary-area .form-type-checkbox .form-checkbox {
  width: 20px;
  height: 20px;
  margin-left: 0;
}

.interface-interface-skeleton .interface-complementary-area .form-item.form-type-checkbox {
  display: flex;
}

.interface-interface-skeleton .interface-complementary-area .form-item label.option {
  margin-bottom: 0;
}

.edit-post-manage-blocks-modal__checklist,
.edit-post-keyboard-shortcut-help-modal__shortcut-list {
  margin-left: 0;
  padding-left: 0;
}

.edit-post-manage-blocks-modal__checklist-item {
  padding-left: 0;
  list-style: none;
}

.edit-post-manage-blocks-modal__checklist-item .components-checkbox-control__label {
  margin-right: 0;
  margin-bottom: 0;
}

.components-checkbox-control__checked {
  display: none;
}

.gutenberg input[type=checkbox]:focus,
input.components-checkbox-control__input:focus {
  border: 2px solid #ccc;
}

@media (min-width: 768px) {
  .components-modal__frame {
    min-width: 500px;
  }
}

.gutenberg input[type=checkbox]:checked:focus,
.components-modal__frame input[type=checkbox]:checked:focus {
  border: 2px solid #11a0d2;
  background-color: #0678be;
  box-shadow: inset 0 0 0 3px #fff;
}

.components-checkbox-control__input-container {
  width: 24px;
  height: 24px;
}

.components-modal__frame input[type=checkbox][aria-checked=mixed] {
  border-color: #7cbc48;
  background-color: #7cbc48;
  box-shadow: inset 0 0 0 3px #fff;
}

.components-modal__frame input[type=checkbox][aria-checked=mixed]::before {
  content: unset;
}

.edit-post-manage-blocks-modal__search .components-base-control__label {
  margin-bottom: 0;
  white-space: nowrap;
}

.edit-post-manage-blocks-modal__category-title .components-checkbox-control__label {
  margin-bottom: 0;
}

.components-base-control:not(.block-editor-url-input) .components-base-control__field {
  display: flex;
  align-items: center;
}

.interface-interface-skeleton__sidebar .components-base-control:not(.components-toggle-control) .components-base-control__field {
  flex-direction: column;
  align-items: baseline;
}
