/**
 * @file
 * Maintenance theming.
 */

.maintenance-page {
  min-height: 100%;
  background-color: #e0e0d8;
  background-image: -webkit-radial-gradient(hsl(203, 2%, 90%), hsl(203, 2%, 95%));
  background-image: radial-gradient(hsl(203, 2%, 90%), hsl(203, 2%, 95%));
  background-repeat: repeat;
  background-position: left top, 50% 50%; /* LTR */
}

.maintenance-page .button {
  margin-top: 20px;
  margin-left: 0;
}

.maintenance-page h1 {
  padding-top: 0;
}
[dir="rtl"] .maintenance-page {
  background-position: right top, 50% 50%;
}

.maintenance-page header {
  border-bottom: 1px solid #eee;
}

.page-title {
  word-wrap: break-word;
  color: #0074bd;
}

.item-list li {
  padding-left: 10px;
}

/**
 * Task list & step indicator
 */
@media all and (max-width: 767px) {
  header[role="banner"] {
    position: relative;
  }
  .step-indicator {
    position: absolute;
    top: 0;
    right: 0.5em; /* LTR */
    display: block;
    font-size: 1.385em;
  }
  [dir="rtl"] .step-indicator {
    right: auto;
    left: 0.5em;
  }
  .task-list {
    display: none;
  }
}

@media all and (min-width: 767px) {
  .step-indicator {
    display: none;
  }
  .task-list {
    margin-left: 0; /* LTR */
    padding-bottom: 1em;
    padding-left: 0; /* LTR */
    list-style-type: none;
  }
  [dir="rtl"] .task-list {
    margin-right: 0;
    padding-right: 0;
  }
  .task-list li {
    padding: 8px 1em 8px 3.85em; /* LTR */
    color: #1a1a1a;
    line-height: 24px;
  }
  [dir="rtl"] .task-list li {
    padding: 8px 3.85em 8px 1em;
  }
  .task-list .is-active {
    position: relative;
    color: white;
    background: #0074bd;
    font-weight: normal;
  }

  .task-list .done {
    color: #adadad;
  }
}

/**
 * Layout
 */
.layout-container {
  width: auto;
  margin-right: 1.25em;
  margin-left: 1.25em;
  background: #fff;
}
.layout-container::after { /* no reason for a clearfix in the markup */
  display: table;
  clear: both;
  content: "";
}

@media all and (max-width: 767px) {
  .layout-container {
    margin: 1.25em;
    padding: 30px 20px;
  }

  main {
    padding-top: 35px;
  }
}

@media all and (min-width: 767px) {
  html {
    display: table;
  }
  .install-page,
  .maintenance-page {
    display: table-cell;
    padding: 1em 0;
    vertical-align: middle;
  }
  html,
  .install-page,
  .maintenance-page {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .layout-container {
    width: 90%;
    max-width: 770px;
    margin: 0 auto;
    padding: 30px 0;
  }

  /* Positioning sidebar & content */
  main {
    float: left; /* LTR */
    clear: none;
    box-sizing: border-box;
    width: 65%;
    padding: 45px 3.85em 25px 3.85em;
  }
  [dir="rtl"] main {
    float: right;
  }
  ul {
    margin: 0.25em 0;
    padding: 15px;
  }
  [dir="rtl"] ul {
    margin-right: 0; /* Overrides default [dir="rtl"] ul margin */
  }
  .layout-sidebar-first {
    float: left; /* LTR */
    box-sizing: border-box;
    width: 35%;
    margin-top: 35px;
  }
  [dir="rtl"] .layout-sidebar-first {
    float: right;
  }

  /* Margins for sitename */
  .page-title {
    margin: 0 1.9em;
  }
}

/**
 * Status report customization for install and update page.
 */
.system-status-report__status-title {
  float: none;
  width: 100%;
}
.system-status-report__entry__value {
  float: none;
  width: 100%;
  padding-top: 0;
  padding-left: 3em; /* LTR */
}
[dir="rtl"] .system-status-report__entry__value {
  padding-right: 3em;
  padding-left: 1em;
}

.maintenance-page .links {
  display: flex;
  float: left;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.maintenance-page .links li {
  display: flex;
  width: 100%;
  padding-right: 20px;
  padding-bottom: 20px;
}
.maintenance-page .links li a {
  width: 100%;
  padding: 13px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  border: 1px solid #b8b8b8;
  background-color: #f5f5f5;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

@media all and (min-width: 480px) {
  .maintenance-page .links {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .maintenance-page .links li {
    width: auto;
  }

  .maintenance-page .links li a {
    width: auto;
  }
}

.maintenance-page .links li:last-child {
  padding-right: 0;
  padding-bottom: 0;
}

.maintenance-page .links li a:hover,
.maintenance-page .links li a:focus {
  text-decoration: none;
  color: #0678be;
  border-color: #0678be;
  outline: transparent;
  background-color: white;
}

.maintenance-page .links li:first-child a {
  color: #fff;
  border-color: #7cbc48;
  background-color: #7cbc48;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.maintenance-page .links li:first-child a:hover,
.maintenance-page .links li:first-child a:focus {
  color: #fff;
  border-color: #6aab35;
  background-color: #6aab35;
}
