.modules-tabs {
  border: none;
  border-radius: 0;
}
.modules-tabs__pane {
  margin: 0 0 0 300px;
  border-left: 1px solid #0678be;
  background: white;
}
.modules-tabs__menu-item a:hover,
.modules-tabs__menu-item a:focus {
  background-color: #f7fcff;
}
ul.modules-tabs__menu {
  width: 300px;
  border-bottom: 4px solid #0678be;
}
li.modules-tabs__menu-item a {
  padding: 1.4rem 1rem;
  line-height: 2;
}
li.modules-tabs__menu-item a strong {
  text-transform: uppercase;
}
li.modules-tabs__menu-item {
  border-top: 1px solid rgba(6, 120, 190, 0.17);
  background: #fff;
}
.modules-tabs__menu-item.disabled {
  margin-bottom: 0;
  border-top-color: #e0e0e0;
  border-bottom: 0;
  background: #efefef;
}
.modules-tabs__menu-item.is-selected a,
.modules-tabs__menu-item.is-selected a:hover,
.modules-tabs__menu-item.is-selected a:focus,
.modules-tabs__menu-item.is-selected a:active {
  color: #fff;
  background-color: #0678be;
}
.modules-tabs__menu-item.is-selected a .summary {
  color: #08447a;
  font-style: italic;
}
.modules-tabs {
  background: #f7fcff;
}
.system-modules tr:hover {
  background: #f7fcff;
}
.modules-tabs__menu-item ul.enabling {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.4em;
  color: #7cbc48;
}
.modules-tabs__menu-item ul.enabling li {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em 0.5em;
  border-radius: 2px;
  background-color: #eaffda;
  font-weight: 500;
  font-style: initial;
}
.modules-tabs__menu-item ul.enabling li::after,
.modules-tabs__menu-item ul.enabling::before {
  content: none;
}
