.page-manager-wizard-actions ul.inline {
  padding: 0;
}

.page-manager-wizard-tree>ul {
  padding-bottom: 0;
}

.page-manager-wizard-tree li:last-child {
  padding-bottom: .5em;
}

.page-manager-wizard-tree li {
  padding-right: .5em;
}

.page-manager-wizard-tree li.current_variant a {
  font-weight: 700;
}

.page-manager-wizard-tree label {
  display: block;
}

.page-manager-wizard-tree li a {
  display: block;
}

.page-manager-wizard-tree li:hover,
.page-manager-wizard-tree li:focus {
  text-decoration: none;
  background-color: #f7fcff;
}

.page-manager-wizard-tree label {
  margin: 0;
}

.page-manager-wizard-form-actions {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #f5f5f5;
  background: white;
}
