.webform-addons-projects details {
  background: none;
}

.webform-multiple-add {
  margin-top: 20px;
}

.webform-multiple-add .field-suffix {
  margin-left: 10px;
}

.form--inline.webform-ui-element-form-inline--input .form-item {
  flex-basis: 45%;
  min-width: 170px;
}

.form--inline.webform-ui-element-form-inline--input .form-item select {
  min-width: 170px;
}

.webform-ui-element-form .form-actions {
  position: relative;
}

.webform-ui-element-form .form-actions input {
  margin-top: 10px;
}

.webform-contribute-community-info {
  display: inline-block;
  border-radius: 0;
}

.webform-ajax-link img {
  max-width: 400px;
}

.webform-details-toggle-state-wrapper {
  margin-top: 0;
}

.ui-dialog-content .webform-details-toggle-state {
  height: 45px;
  padding: 0 15px;
  outline: none;
}

.ui-dialog-content .webform-details-toggle-state:hover {
  text-decoration: none;
  background-color: #f9f9f9;
}

.form--inline.webform-ui-element-form-inline--input .form-item select,
.form--inline.webform-ui-element-form-inline--input .form-item input[type="text"],
.form--inline.webform-ui-element-form-inline--input .form-item input[type="number"] {
  width: 100%;
  min-width: 170px !important;
}

.button-webform-play {
  margin-left: 10px;
}

.webform-message {
  margin-top: 20px;
}

html.js .webform-message--close .webform-message__link {
  top: 16px;
  right: 24px;
}

.webform-message .messages.messages--promotion_drupal_association {
  padding-left: 140px;
  background-color: #f5f5f5;
  background-position: 20px center;
  box-shadow: none;
}

.webform-message .messages.messages--promotion_drupal_association .button {
  margin-left: 20px;
}

html.js .webform-message--close .messages.messages--promotion_drupal_association .webform-message__link {
  top: 22px;
  right: 24px;
}

.webform-multiple-table td.webform-multiple-table--operations {
  padding: 0 20px;
}

.messages.messages--info {
  background-position: 16px 18px;
  box-shadow: none;
}

blockquote.webform-contribute-quote {
  margin: 30px 0;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
}

blockquote.webform-contribute-quote::before {
  display: none;
}

.webform-contribute-community-info__item {
  background: transparent;
}

.webform-contribute-community-info__header {
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
}

.webform-contribute-community-info__item-title {
  color: #0678be;
}

.webform-contribute-community-info__item {
  padding: 20px 20px 40px 20px;
}

.webform-contribute-content {
  max-width: 480px;
}

.webform-contribute-content hr {
  margin: 30px 0 20px 0;
}

th.webform-results-table__icon,
td.webform-results-table__icon {
  padding-right: 5px;
  padding-left: 5px;
}

.webform-states-table--operator {
  display: inline-flex;
}

.webform-states-table--operator * {
  margin-right: 10px;
}

.webform-states-table--operator *:last-child {
  margin-right: 0;
}

.webform-ui-elements-table tr.webform-ui-element-type-webform_actions td {
  border-color: #e6e4df;
  background-color: #f5f5f5;
}

.button.button-webform-play::before {
  content: '► ';
}

.ui-dialog-content .webform-ajax-link {
  margin-left: 10px;
}

.ui-dialog .webform-states-table {
  margin-bottom: 20px;
}

@media all and (min-width: 992px) {
  .ui-dialog.webform-off-canvas {
    right: 0 !important;
    left: auto !important;
    width: 40% !important;
  }

  .ui-dialog table tr input.form-text,
  .ui-dialog table tr .form-textarea {
    max-width: 220px;
  }
}

.ui-dialog table tr .form-select {
  width: 100% !important;
  min-width: auto;
}

.ui-dialog .webform-type-fieldset .fieldset-wrapper .form-item-properties-multiple .container-inline {
  width: 100%;
}

.ui-dialog .webform-type-fieldset .fieldset-wrapper .form-item-properties-multiple .container-inline > div {
  flex: 1;
}

.ui-dialog table td {
  height: auto;
  padding: 1em 1rem;
  vertical-align: top;
}

.webform-ajax-messages {
  bottom: 81px;
}
