.paragraph-type .paragraph-type-icon {
  width: 32px;
  height: 32px;
}

.paragraphs-dropdown-toggle:hover,
.paragraphs-dropdown-toggle:focus {
  border: 0;
  background-color: #f7fcff;
  box-shadow: none;
}

.paragraphs-dropdown-toggle {
  height: 40px;
  border-radius: 0;
  background-color: transparent;
}
