/**
 * @file
 * The .admin.theme.css file is intended to contain presentation declarations
 * including images, borders, colors, and fonts.
 */

.views-admin .links {
  margin: 0;
  list-style: none outside none;
}

.views-admin a:hover {
  text-decoration: none;
}

.box-padding {
  padding-right: 12px;
  padding-left: 12px;
}

.box-margin {
  margin: 12px 12px 0 12px;
}

.views-admin .icon {
  width: 12px;
  height: 12px;
}

.views-admin .icon,
.views-admin .icon-text {
  background-image: url(../../images/icons/sprites.png);
  /* LTR */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left top;
}

[dir="rtl"] .views-admin .icon,
[dir="rtl"] .views-admin .icon-text {
  background-position: right top;
}

.views-admin a.icon {
  border: 1px solid #ddd;
}

.views-admin a.icon:hover {
  border-color: #d0d0d0;
}

.views-admin a.icon:active {
  border-color: #c0c0c0;
}

.views-admin span.icon {
  position: relative;
  float: left;
  margin-right: 2px;
}

.views-admin .icon.compact {
  display: block;
  overflow: hidden;
  direction: ltr;
  font-size: 0;
}

/* Targets any element with an icon -> text combo */
.views-admin .icon-text {
  padding-left: 19px;
  /* LTR */
}

[dir="rtl"] .views-admin .icon-text {
  padding-right: 19px;
  padding-left: 0;
}

.views-admin .icon.linked {
  background-position: center -153px;
}

.views-admin .icon.unlinked {
  background-position: center -195px;
}

.views-admin .icon.add {
  background-position: center 2px;
}

.views-admin a.icon.add {
  background-position: center 2px, left top;
  /* LTR */
}

[dir="rtl"] .views-admin a.icon.add {
  background-position: center 2px, right top;
}

.views-admin .icon.delete {
  background-position: center -52px;
}

.views-admin a.icon.delete {
  background-position: center -52px, left top;
  /* LTR */
}

[dir="rtl"] .views-admin a.icon.delete {
  background-position: center -52px, right top;
}

.views-admin .icon.rearrange {
  background-position: center -111px;
}

.views-admin a.icon.rearrange {
  background-position: center -111px, left top;
  /* LTR */
}

[dir="rtl"] .views-admin a.icon.rearrange {
  background-position: center -111px, right top;
}

.views-displays .tabs a:hover>.icon.add {
  background-position: center -25px;
}

.views-displays .tabs .open a:hover>.icon.add {
  background-position: center 2px;
}

details.box-padding {
  border: none;
}

.views-admin details details {
  margin-bottom: 0;
}

.form-item {
  margin-top: 9px;
  padding-top: 0;
  padding-bottom: 0;
}

.form-type-checkbox {
  margin-top: 6px;
}

.form-checkbox,
.form-radio {
  vertical-align: baseline;
}

.container-inline {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-inline>*+*,
.container-inline .details-wrapper>*+* {
  padding-left: 4px;
  /* LTR */
}

[dir="rtl"] .container-inline>*+*,
[dir="rtl"] .container-inline .details-wrapper>*+* {
  padding-right: 4px;
  padding-left: 0;
}

.views-admin details details.container-inline {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0;
}

.views-admin details details.container-inline>.details-wrapper {
  padding-bottom: 0;
}

/* Indent form elements so they're directly underneath the label of the checkbox that reveals them */
.views-admin .form-type-checkbox+.form-wrapper {
  margin-left: 16px;
  /* LTR */
}

[dir="rtl"] .views-admin .form-type-checkbox+.form-wrapper {
  margin-right: 16px;
  margin-left: 0;
}

/* Hide 'remove' checkboxes. */
.views-remove-checkbox {
  display: none;
}

/* sizes the labels of checkboxes and radio button to the height of the text */
.views-admin .form-type-checkbox label,
.views-admin .form-type-radio label {
  line-height: 2;
}

.views-admin-dependent .form-item {
  margin-top: 6px;
  margin-bottom: 6px;
}

.views-ui-view-name h3 {
  margin: 0.25em 0;
  font-weight: bold;
}

.view-changed {
  margin-bottom: 21px;
}

.views-admin .unit-title {
  margin-bottom: 0;
  padding: 0 0 20px 0;
}

.views-ui-view-displays ul {
  margin-left: 0;
  /* LTR */
  padding-left: 0;
  /* LTR */
  list-style: none;
}

[dir="rtl"] .views-ui-view-displays ul {
  margin-right: 0;
  margin-left: inherit;
  padding-right: 0;
  padding-left: inherit;
}

/* These header classes are ambiguous and should be scoped to th elements */
.views-ui-name {
  width: 20%;
}

.views-ui-description {
  width: 30%;
}

.views-ui-machine-name {
  width: 15%;
}

.views-ui-displays {
  width: 25%;
}

.views-ui-operations {
  width: 10%;
}

/**
 * I wish this didn't have to be so specific
 */
.form-item-description-enable+.form-item-description {
  margin-top: 0;
}

.form-item-description-enable label {
  font-weight: bold;
}

.form-item-page-create,
.form-item-block-create {
  margin-top: 13px;
}

.form-item-page-create label,
.form-item-block-create label,
.form-item-rest-export-create label {
  font-weight: bold;
}

/* This makes the form elements after the "Display Format" label flow underneath the label */
.form-item-page-style-style-plugin>label,
.form-item-block-style-style-plugin>label {
  display: block;
}

.views-attachment .options-set {
  margin-top: 10px;
}


/* Styling for the form that allows views filters to be rearranged. */
.group-populated {
  display: none;
}

td.group-title {
  font-weight: bold;
}

.views-ui-dialog td.group-title {
  margin: 0;
  padding: 0;
}

.views-ui-dialog td.group-title span {
  display: block;
  overflow: hidden;
  height: 1px;
}

.group-message .form-submit,
.views-remove-group-link,
.views-add-group {
  float: right;
  /* LTR */
  clear: both;
}

[dir="rtl"] .group-message .form-submit,
[dir="rtl"] .views-remove-group-link,
[dir="rtl"] .views-add-group {
  float: left;
}

.views-operator-label {
  padding-left: 0.5em;
  /* LTR */
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

[dir="rtl"] .views-operator-label {
  padding-right: 0.5em;
  padding-left: 0;
}

.grouped-description,
.exposed-description {
  float: left;
  /* LTR */
  padding-top: 3px;
  padding-right: 10px;
  /* LTR */
}

[dir="rtl"] .grouped-description,
[dir="rtl"] .exposed-description {
  float: right;
  padding-right: 0;
  padding-left: 10px;
}

.views-displays {
  padding: 0;
}

.views-display-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 20px 10px 20px;
  background-color: #f5f5f5;
}

@media screen and (min-width: 960px) {
  .views-display-top {
    justify-content: space-between;
  }
}

.views-display-top .tabs {
  margin-right: 18em;
  /* LTR */
}

[dir="rtl"] .views-display-top .tabs {
  margin-right: 0;
  margin-left: 18em;
}

.views-display-top .tabs>li {
  margin-right: 6px;
  /* LTR */
  padding-left: 0;
  /* LTR */
}

[dir="rtl"] .views-display-top .tabs>li {
  margin-right: 0.3em;
  margin-left: 6px;
  padding-right: 0;
}

.views-display-top .tabs>li:last-child {
  margin-right: 0;
  /* LTR */
}

[dir="rtl"] .views-display-top .tabs>li:last-child {
  margin-right: 0.3em;
  margin-left: 0;
}

.form-edit .form-actions {
  margin-top: 0;
  padding: 20px;
}

.views-displays .tabs.secondary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 0;
}

.views-displays .tabs.secondary li,
.views-displays .tabs.secondary li.is-active {
  margin-left: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.views-displays .tabs li.add ul.action-list li {
  margin: 0;
}

.views-displays .tabs.secondary li {
  /* LTR */
  display: inline-flex;
  width: 100%;
  margin: 0 0 10px 0;
}

[dir="rtl"] .views-displays .tabs.secondary li {
  margin: 0 0 10px 10px;
  /* LTR */
}

.views-displays .tabs.secondary .tabs__tab+.tabs__tab {
  border-top: 0;
}

.views-displays .tabs li.tabs__tab:hover {
  padding-left: 0;
  border: 0;
  /* LTR */
}

[dir="rtl"] .views-displays .tabs li.tabs__tab:hover {
  padding-right: 0;
}

.views-displays .tabs.secondary a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7px 18px;
  border: 1px solid #b8b8b8;
  font-size: 12px;
  line-height: 12px;
}

@media screen and (min-width: 640px) {
  .views-displays .tabs.secondary {
    width: auto;
    max-width: 84%;
  }

  .views-displays .tabs.secondary li {
    width: auto;
    margin-right: 10px;
  }

  .views-displays .tabs.secondary a {
    width: auto;
  }
}

/* Display a red border if the display doesn't validate. */
.views-displays .tabs li.is-active a.is-active.error,
.views-displays .tabs .error {
  color: #e32700;
  border: 1px solid #e32700;
  background: #f9f9f9;
  line-height: 14px;
}

.views-displays .tabs a:focus {
  text-decoration: underline;
  outline: transparent;
}

.views-displays .tabs.secondary li a {
  background-color: #f9f9f9;
}

.views-displays .tabs li.is-active a,
.views-displays .tabs li.is-active a.is-active {
  color: white;
  background-color: #0678be;
}

.views-displays .tabs li.is-active a:hover,
.views-displays .tabs li.is-active a.is-active:hover {
  color: white;
  border-color: #0678be;
  background-color: #0678be;
}

.views-displays .tabs li a:hover {
  border-color: #0678be;
  background-color: white;
}

.views-displays .tabs .open>a {
  position: relative;
  border-bottom: 1px solid transparent;
  background-color: #f9f9f9;
}

.views-displays .tabs .open>a:hover {
  background-color: #f1f1f1;
}

.views-displays .tabs .action-list li {
  box-sizing: border-box;
  padding: 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #b8b8b8;
  background-color: #f9f9f9;
}

.views-displays .action-list li:last-child {
  border-width: 1px;
}

.views-displays .tabs .action-list li:last-child {
  border-width: 1px;
}

.views-displays .tabs .action-list input.form-submit {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 7px 20px;
  text-align: left;
  border: medium none;
  background: none repeat scroll 0 0 transparent;
}

.views-displays .tabs .action-list input.form-submit:hover {
  color: #333;
  box-shadow: none;
}

.views-displays .tabs .action-list li:hover {
  background-color: white;
}

.edit-display-settings {
  margin: 0;
}

.edit-display-settings-top.views-ui-display-tab-bucket {
  position: relative;
  margin: 0;
  padding: 10px 0;
  line-height: 20px;
}

.views-display-column {
  height: 100%;
  border: 1px solid #f3f3f3;
}

.view-preview-form .form-item-view-args {
  margin-top: 0;
}

.view-preview-form .preview-submit-wrapper.form-actions {
  margin-left: 17px;
}

.view-preview-form .form-actions {
  position: relative;
  z-index: 1;
  width: auto;
  margin: 30px 0 0 0;
  padding: 0;
  border: none;
}

.view-preview-form .form-item-view-args {
  display: inline-flex;
  flex-direction: column;
}

.form-item-live-preview,
.form-item-view-args,
.preview-submit-wrapper {
  display: inline-block;
}

.form-item-live-preview,
.view-preview-form .form-actions {
  vertical-align: top;
}

@media screen and (min-width: 45em) {

  /* 720px */
  .view-preview-form .form-type-textfield .description {
    white-space: nowrap;
  }
}

/* These are the individual "buckets," or boxes, inside the display settings area */
.views-ui-display-tab-bucket {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 10px 5px;
  border-bottom: 1px solid #f3f3f3;
  line-height: 20px;
}

.views-ui-display-tab-bucket:last-of-type {
  border-bottom: none;
}

.views-ui-display-tab-bucket+.views-ui-display-tab-bucket {
  border-top: medium none;
}

.views-ui-display-tab-bucket__title {
  padding: 4px 10px;
}

.views-ui-display-tab-bucket>.views-display-setting:last-child {
  padding: 10px 10px 0 10px;
}

.views-ui-display-tab-bucket>.views-display-setting {
  padding: 10px 10px 0 10px;
}


.views-ui-display-tab-bucket__title {
  margin: 0;
  color: #0678be;
  font-size: 14px;
}

.views-ui-display-tab-bucket.access {
  padding-top: 0;
}

.views-ui-display-tab-bucket.page-settings {
  border-bottom: medium none;
}

.views-display-setting .views-ajax-link {
  margin-right: 0.2083em;
  margin-left: 0.2083em;
}

.views-ui-display-tab-setting>span {
  margin-left: 0;
  /* LTR */
}

.views-ui-display-tab-bucket::after {
  display: none;
}

/** Applies an overridden(italics) font style to overridden buckets.
 * The better way to implement this would be to add the overridden class
 * to the bucket header when the bucket is overridden and style it as a
 * generic icon classed element. For the moment, we'll style the bucket
 * header specifically with the overridden font style.
 */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden .views-ui-display-tab-bucket__title {
  font-style: italic;
}

/* This is each row within one of the "boxes." */
.views-ui-display-tab-bucket .views-display-setting {
  width: 100%;
  color: #666;
  font-size: 12px;
}

.views-ui-display-tab-actions.views-ui-display-tab-bucket {
  display: flex;
  flex-direction: column-reverse;
  border: none;
}

.views-ui-display-tab-actions.views-ui-display-tab-bucket .views-display-setting {
  width: auto;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 16px;
}

.views-ui-display-tab-actions.views-ui-display-tab-bucket .views-display-setting.clearfix::after {
  display: none;
}

.views-ui-display-tab-actions.views-ui-display-tab-bucket .dropbutton-wrapper {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}

.views-ui-display-tab-actions.views-ui-display-tab-bucket .dropbutton-wrapper .dropbutton-widget {
  position: relative;
  top: 0;
}

@media screen and (min-width: 640px) {
  .views-ui-display-tab-actions.views-ui-display-tab-bucket .dropbutton-wrapper {
    box-sizing: border-box;
    width: 50%;
    margin: 6px 0 0 0;
    padding: 0;
  }

  .views-ui-display-tab-actions.views-ui-display-tab-bucket .dropbutton-wrapper .dropbutton-widget {
    position: absolute;
    right: 20px;
  }

  .views-ui-display-tab-actions.views-ui-display-tab-bucket .views-display-setting {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 16px;
  }

  .views-ui-display-tab-actions.views-ui-display-tab-bucket {
    flex-direction: row-reverse;
  }
}

.views-ui-display-tab-bucket .views-group-text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.views-display-setting .label {
  margin-right: 3px;
  /* LTR */
}

[dir="rtl"] .views-display-setting .label {
  margin-right: 0;
  margin-left: 3px;
}

.views-edit-view {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
}

/* The contents of the popup dialog on the views edit form. */
.views-filterable-options .form-type-checkbox {
  padding: 5px 8px;
  border-top: none;
}

.filterable-option .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.views-filterable-options .filterable-option .title {
  cursor: pointer;
  font-weight: bold;
}

.views-filterable-options .form-type-checkbox .description {
  margin-top: 0;
  margin-bottom: 0;
}

.views-filterable-options-controls .form-item {
  min-width: 280px;
}

.views-filterable-options-controls input,
.views-filterable-options-controls select {
  width: 100%;
}

.views-ui-dialog .ui-dialog-content {
  padding: 0;
}

.views-ui-dialog .views-filterable-options {
  margin-bottom: 10px;
}

.views-ui-dialog .views-add-form-selected.container-inline {
  padding: 0;
}

.views-ui-dialog .views-add-form-selected.container-inline>div {
  display: block;
}

.views-ui-dialog .ui-dialog-content .form-item.form-item-selected {
  margin-bottom: 0;
  padding: 6px 16px;
  border-top: 1px solid #eee;
  background: white;
}

.views-ui-dialog .form-item-selected>* {
  display: inline;
}

.views-ui-dialog .views-override:not(:empty) {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
}

.views-ui-dialog .views-override .form-item {
  width: auto;
}

.views-ui-dialog.views-ui-dialog-scroll .ui-dialog-titlebar {
  border: none;
}

.views-ui-dialog .views-offset-bottom {
  width: 100%;
}

.views-ui-dialog .views-override>* {
  margin: 0;
}

.views-ui-dialog .views-override>* label {
  margin-bottom: 0;
}

.views-ui-dialog .views-override select {
  width: 100%;
}

.views-ui-dialog .views-progress-indicator {
  position: absolute;
  /* LTR */
  top: 32px;
  right: 10px;
  color: #fff;
  font-size: 11px;
}

[dir="rtl"] .views-ui-dialog .views-progress-indicator {
  right: auto;
  left: 10px;
}

.views-ui-dialog .views-progress-indicator::before {
  content: "\003C\00A0";
}

.views-ui-dialog .views-progress-indicator::after {
  content: "\00A0\003E";
}

.views-ui-dialog details .item-list {
  padding-left: 2em;
  /* LTR */
}

[dir="rtl"] .views-ui-dialog details .item-list {
  padding-right: 2em;
  padding-left: 0;
}

.views-ui-rearrange-filter-form table {
  border-collapse: collapse;
}

.views-ui-rearrange-filter-form tr td[rowspan] {
  border: none;
}

.views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 1px solid #f3f3f3;
  /* LTR */
}

[dir="rtl"] .views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 0;
  border-left: 1px solid #f3f3f3;
}

.views-ui-rearrange-filter-form .views-group-title {
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.views-ui-rearrange-filter-form .group-empty {
  border-bottom: 1px solid #f3f3f3;
}

.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-description {
  /* LTR */
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 18px;
}

[dir="rtl"] .form-item-options-expose-required,
[dir="rtl"] .form-item-options-expose-label,
[dir="rtl"] .form-item-options-expose-description {
  margin-right: 18px;
  margin-left: 0;
}

.view-preview-form {
  position: relative;
}

.view-preview-form__title {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
}

.view-preview-form .form-item-live-preview {
  position: absolute;
  top: 0;
  right: 12px;
  /* LTR */
  width: auto;
  margin-left: 2px;
}

[dir="rtl"] .view-preview-form .form-item-live-preview {
  right: auto;
  left: 12px;
}

.views-live-preview {
  padding: 0;
}

.views-live-preview .views-query-info {
  overflow: auto;
  margin-bottom: 20px;
}

.views-live-preview .section-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
  color: #0678be;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.views-live-preview .preview-section {
  margin: 0 0 20px 0;
  padding: 20px;
  border: 1px dashed #dedede;
}

.views-live-preview li.views-row+li.views-row {
  margin-top: 18px;
}

/* The div.views-row is intentional and excludes li.views-row, for example */
.views-live-preview div.views-row+div.views-row {
  margin-top: 36px;
}

.views-query-info table {
  margin: 10px 0;
  border-spacing: 0;
  border-collapse: separate;
  border-color: #ddd;
}

.views-query-info table tr {
  background-color: #f9f9f9;
}

.views-query-info table th,
.views-query-info table td {
  padding: 8px 16px;
  color: #666;
}

.messages {
  margin-bottom: 18px;
  line-height: 1.4555;
}

.dropbutton-multiple {
  position: absolute;
}

.dropbutton-widget {
  position: relative;
}

.js .views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action>* {
  font-size: 12px;
}

.js .dropbutton-wrapper .dropbutton .dropbutton-action>.ajax-progress-throbber {
  position: absolute;
  z-index: 2;
  /* LTR */
  top: -1px;
  right: -5px;
}

[dir="rtl"].js .dropbutton-wrapper .dropbutton .dropbutton-action>.ajax-progress-throbber {
  right: auto;
  left: -5px;
}

.js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:first-child a {
  border-radius: 1.1em 0 0 0;
  /* LTR */
}

[dir="rtl"].js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:first-child a {
  border-radius: 0 1.1em 0 0;
}

.js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:last-child a {
  border-radius: 0 0 0 1.1em;
  /* LTR */
}

[dir="rtl"].js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:last-child a {
  border-radius: 0 0 1.1em 0;
}

.js .views-display-top .dropbutton-wrapper {
  order: 2;
  width: 100%;
  padding-bottom: 10px;
}

.js .views-display-top .dropbutton-wrapper .dropbutton-widget {
  top: 0;
}

@media screen and (min-width: 640px) {
  .js .views-display-top .dropbutton-wrapper {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .js .views-display-top .dropbutton-wrapper {
    flex: 1;
  }
}

[dir="rtl"] .views-display-top .dropbutton-wrapper {
  order: 1;
}

.views-display-top .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
  width: auto;
}

.views-ui-display-tab-bucket .dropbutton-wrapper {
  margin: 4px 10px 0 10px;
}

.views-ui-display-tab-bucket .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
  width: auto;
}

.views-ui-display-tab-actions .dropbutton-wrapper li a,
.views-ui-display-tab-actions .dropbutton-wrapper input {
  /* LTR */
  margin-bottom: 0;
  padding-left: 12px;
  border: medium;
  background: none;
  font-family: inherit;
  font-size: 12px;
}

[dir="rtl"] .views-ui-display-tab-actions .dropbutton-wrapper li a,
[dir="rtl"] .views-ui-display-tab-actions .dropbutton-wrapper input {
  padding-right: 12px;
  padding-left: 0.5em;
}

.views-ui-display-tab-actions .dropbutton-wrapper input:hover {
  border: none;
  background: none;
}

.views-list-section {
  margin-bottom: 2em;
}

.views-list-section h3 {
  color: #0678be;
}

.views-list-section.disabled h3 {
  color: #aaa;
}

.form-textarea-wrapper,
.form-item-options-content {
  width: 100%;
}
