/**
 * @file
 * Styles for node preview page.
 */

.node-preview-container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
}

.node-preview-form-select {
  width: 100%;
}

.node-preview-container .node-preview-backlink {
  float: left;
  margin-right: 20px;
  padding: 13px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-color: #7cbc48;
  background-color: #7cbc48;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

.node-preview-container .form-type-select {
  float: right;
  align-items: center;
  width: auto;
}
