.toolbar-tray-horizontal .menu-item:hover {
  background-color: #0e4f8a;
}

.toolbar-tray-horizontal .menu-item a:focus {
  background-color: #0e4f8a;
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded > .is-active,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:hover {
  background-image: url(../../images/icons/arrow_right_small.svg);
  background-repeat: no-repeat;
  background-position: 190px center;
  background-size: 18px 18px;
}

.toolbar-tray-horizontal ul ul a {
  padding: 10px 24px;
}

.toolbar-tray-horizontal .menu-item--expanded .menu {
  width: auto;
  height: auto;
  background-color: #08447a;
}

.toolbar-tray-horizontal .menu-item--expanded {
  background-color: transparent;
}

.toolbar-tray-horizontal ul li li.menu-item {
  border-top: none transparent;
  border-right: 1px solid #0e4f8a;
  border-bottom: 1px solid #0e4f8a;
  border-left: 1px solid #0e4f8a;
}

.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: 1px solid #0e4f8a;
}

.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  left: -999em; /* LTR */
  display: none;
}

/* Lists nested under hovered list items */
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  left: auto; /* LTR */
  display: block;
}

.toolbar-tray-horizontal .menu ul li a,
.toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  position: absolute;
  z-index: 1;
  display: block;
  width: 220px;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -41px 0 0 217px;
}

.toolbar-tray-horizontal li:hover ul li {
  float: none;
}

.toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

.toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  top: 0;
  left: 220px;
  width: 220px;
  padding-top: 0;
}

.toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item:hover {
  background: #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item a:focus {
  background: #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded > .is-active,
[dir="rtl"] .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus,
[dir="rtl"] .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:hover {
  background-image: url(../../images/icons/arrow_left_small.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px 18px;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded .menu {
  width: auto;
  height: auto;
  background: #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded {
  background-color: #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal ul li li.menu-item {
  border-top: none transparent;
  border-right: 1px solid #0e4f8a;
  border-bottom: 1px solid #0e4f8a;
  border-left: 1px solid #0e4f8a;
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal .menu-item:last-child {
  border-right: 1px solid #0e4f8a;
  border-left: 1px solid #0e4f8a;
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: 1px solid #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  left: -999em; /* LTR */
  display: none;
}

/* Lists nested under hovered list items */
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  left: auto; /* LTR */
  display: block;
}

[dir="rtl"] .toolbar-tray-horizontal .menu ul li a,
[dir="rtl"] .toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  position: absolute;
  z-index: 1;
  display: block;
  width: 200px;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -40px 197px 0 0;
}

[dir="rtl"] .toolbar-tray-horizontal li:hover ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  padding-top: 0;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}

#admin-toolbar-search-tab .form-item label {
  display: none;
}

#admin-toolbar-search-tab .js-form-item.form-item {
  margin-top: 12px;
}

#admin-toolbar-search-input {
  padding: 4px 12px;
  transition: all .2s;
  opacity: 0.7;
  border: 0;
  border-radius: 20px;
}

#admin-toolbar-search-input:focus {
  opacity: 1;
}

#admin-toolbar-search-input::-webkit-input-placeholder { /* Edge */
  color: #b5b5b5;
}

#admin-toolbar-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b5b5b5;
}

#admin-toolbar-search-input::placeholder {
  color: #b5b5b5;
}

#toolbar-item-administration-search-tray div.form-item {
  margin: 10px;
}

ul.admin-toolbar-search-autocomplete-list {
  border: 0;
  border-radius: 20px;
  box-shadow: 4px 5px 16px 0 #73b5ff;
}

ul.admin-toolbar-search-autocomplete-list li {
  transition: all .2s;
}


ul.admin-toolbar-search-autocomplete-list li:hover {
  color: white;
  background: #0678be !important;
}

#toolbar-item-administration-search-tray input {
  padding: 10px;
  transition: background-color 0.5s;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
}

#toolbar-item-administration-search-tray input:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#toolbar-item-administration-search-tray {
  padding: 0;
}
