/**
 * Image style configuration pages.
 */
.image-style-new,
.image-style-new div {
  display: inline-flex;
}
.image-style-preview .preview-image-wrapper {
  top: 50%;
  float: left;
  width: 100%;
  padding-bottom: 2em;
  text-align: center;
}
.image-style-preview .preview-image {
  position: relative;
  margin: 10px auto auto auto;
}
.image-style-preview .preview-image .width {
  position: absolute;
  bottom: -6px;
  left: -1px;
  box-sizing: content-box;
  height: 2px;
  border: 1px solid #666;
  border-top: none;
}
.image-style-preview .preview-image .width span {
  position: relative;
  top: 4px;
}
.image-style-preview .preview-image .height {
  position: absolute;
  top: -1px;
  right: -6px;
  box-sizing: content-box;
  width: 2px;
  border: 1px solid #666;
  border-left: none;
}
.image-style-preview .preview-image .height span {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 60px;
  height: 2em;
  margin-top: -1em;
  text-align: left;
}

.image-style-new .button {
  margin-left: 20px;
}

.image-style-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-style-preview .preview-image-wrapper {
  margin-bottom: 40px;
}

.image-style-preview .preview-image-wrapper:last-child {
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .image-style-preview {
    flex-direction: row;
  }
  .image-style-preview .preview-image-wrapper {
    margin-bottom: 0;
  }
}

.image-effect-form .form-number {
  max-width: 280px;
}

/**
 * Image anchor element.
 */
.image-anchor {
  width: auto;
}
.image-anchor tr {
  background: none;
}
.image-anchor td {
  border: 1px solid #ccc;
}
