/**
 * @file
 * Admin styling for the Filter module.
 */

/**
 * Filter information under field.
 */
.text-format-wrapper > .form-item {
  margin-bottom: 0;
}

.text-format-wrapper .form-textarea {
  display: flex;
}
.filter-wrapper {
  overflow: hidden;
  margin: 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: 0;
  background-color: #f8f8f8;
}
.filter-wrapper .form-item {
  margin: 0;
}
.filter-wrapper .form-item label {
  display: inline;
}

.filter-help {
  float: right; /* LTR */
  margin-top: 0;
  margin-bottom: 7px;
}
[dir="rtl"] .filter-help {
  float: left;
}
.filter-guidelines .filter-guidelines-item {
  margin-top: 1em;
}
.filter-help p {
  margin: 0;
}
.filter-help a {
  position: relative;
  margin: 0 22px 0 0; /* LTR */
}
[dir="rtl"] .filter-help a {
  margin: 0 0 0 22px;
}
.filter-help a::after {
  position: absolute;
  top: 0;
  right: -22px; /* LTR */
  display: block;
  width: 16px;
  height: 16px;
  content: '';
  background: transparent url(../../images/icons/help_2.svg);
}
[dir="rtl"] .filter-help a::after {
  right: auto;
  left: -22px;
}

.text-format-wrapper .description {
  margin-top: 0.5em;
}
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}

/**
 * Improve filter tips position.
 */
.tips {
  padding-left: 0; /* LTR */
}
[dir="rtl"] .tips {
  padding-right: 0;
}

.filter-guidelines {
  font-size: 12px;
}

.filter-guidelines ul {
  margin: 15px 0 0 20px;
  padding: 0;
}
