/**
 * @file
 * Admin styling for the User module.
 */

/* Permissions page */

.permissions a {
  font-weight: 700;
}

.permissions .module {
  text-transform: uppercase;
  color: #0678be;
  font-size: 14px;
  font-weight: 700;
}

.permissions thead th.checkbox,
.sticky-header thead th.checkbox {
  min-width: 130px;
  text-align: center;
  line-height: 1.2;
}

.permissions tbody td.checkbox div.checkbox {
  text-align: center;
}

/* Account settings */
.user-admin-settings .details-description {
  padding-bottom: 0.5em;
  font-size: 0.85em;
}
