/**
 * CSS added to iframe-based instances only.
 */
body {
  margin: 8px;
  color: #333;
  background: #fff;
  font: normal 14px/1.8 Ubuntu, sans-serif;
}

@media screen and (max-width: 600px) {
  /* A font-size of 16px prevents iOS from zooming. */
  body {
    font-size: 16px;
  }
}

ol,
ul,
dl {
  /* Preserved spaces for list items with text direction other than the list.
   * (CKEditor issues #6249,#8049) */
  padding: 0 40px;
}
