/* Block listing page */
.region-title__action {
  display: inline-flex;
  align-items: center;
  margin-left: 20px; /* LTR */
}
[dir="rtl"] .region-title__action {
  margin-right: 20px;
  margin-left: 0;
}

/* Block demo mode */
.block-region {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border: dashed 1px #a4a4a4;
  background-color: #f9f9f9;
  font-weight: 700;
}
a.block-demo-backlink,
a.block-demo-backlink:link,
a.block-demo-backlink:visited {
  position: fixed;
  z-index: 499;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 5px 10px;
  transition: all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  border: 1px solid #b8b8b8;
  background-color: #f5f5f5;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
a.block-demo-backlink:hover,
a.block-demo-backlink:focus {
  text-decoration: none;
  color: #0678be;
  border-color: #0678be;
  background-color: white;
}

/* Configure block form - Block description */
.block-form .form-item-settings-admin-label label {
  display: inline;
}
.block-form .form-item-settings-admin-label label::after {
  content: ':';
}
