/**
 * Admin lists.
 */
ul.admin-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.admin-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px 30px 20px 45px;
  list-style-type: none;
  list-style-image: none;
  border-bottom: 1px solid #f0f0f0;
}

.admin-list.compact li {
  border: none;
}

.admin-list li a {
  display: block;
  /* LTR */
  height: 100%;
  min-height: 0;
  padding: 10px 24px;
  background: transparent url(../../images/icons/arrow_right.svg) no-repeat 0 17px;
  /* LTR */
  background-size: 20px 20px;
}

.admin-list li:nth-child(1) {
  border-top: 1px solid #f0f0f0;
}

.admin-list li:hover {
  background-color: #f7fcff;
}

[dir="rtl"] .admin-list li a {
  background: url(../../images/icons/arrow_left.svg) no-repeat right 27px;
}

.admin-list.compact .description {
  display: none;
}

.admin-list li a:hover,
.admin-list li a:focus,
.admin-list li a:active {
  text-decoration: none;
}

.admin-list li a .label {
  font-size: 18px;
  font-weight: 700;
}

.admin-list .color-success {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 2px 7px;
  border: 1px solid #325e1c;
  background-color: transparent;
  line-height: 18px;
}

@media screen and (min-width: 1280px) {

  .admin-list li:nth-child(1),
  .admin-list li:nth-child(2) {
    border-top: 1px solid #f0f0f0;
  }

  .admin-list li {
    width: 50%;
  }
}
