/**
 * @file
 * Breadcrumbs.
 */

.breadcrumb {
  padding: 20px 0;
  line-height: 1.8;
}

.breadcrumb ol {
  margin: 0;
  padding: 0;
}
[dir="rtl"] .breadcrumb ol {
  /* This is required to win over specificity of [dir="rtl"] ol */
  margin-right: 0;
}

.breadcrumb li {
  display: inline;
  padding: 0;
  list-style-type: none;
}
/* IE8 does not support :not() and :last-child. */
.breadcrumb li::before {
  content: ' \BB ';
  color: #0678be;
}
.breadcrumb li:first-child::before {
  content: none;
}
