/**
 * @file
 *
 * Apply these classes to any element (<link>, <button>, <input>, etc.) that
 * should appear as a button.
 */


/* nav action links */
nav.action-links {
  display: flex;
}

nav.action-links li {
  margin-right: 20px;
}

nav.action-links li .button--small {
  padding: 13px 24px;
}

/* action links */

.action-links {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

.action-links li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button,
.views-remove-link,
.views-remove-group-link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 100px;
  height: auto;
  margin-top: 20px;
  margin-left: 0;
  padding: 15px 24px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  border: 1px solid #b8b8b8;
  border-radius: 0;
  background-color: #f5f5f5;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
}

.button:first-child {
  margin-top: 0;
  margin-left: 0;
}

.button:hover,
.button:focus,
.views-remove-link:hover,
.views-remove-link:focus,
.views-remove-group-link:hover,
.views-remove-group-link:focus {
  text-decoration: none;
  color: #0678be;
  border-color: #0678be;
  outline: transparent;
  background-color: white;
}

/* small */

.button--small,
.views-remove-link,
.views-remove-group-link {
  padding: 6px 10px;
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  .button,
  .views-remove-link,
  .views-remove-group-link {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
  }

  .button {
    margin-right: 20px;
    margin-left: 0;
  }

  .button:last-child,
  table .button:last-of-type {
    margin-right: 0;
  }
}

/* Prevent focus ring being covered by next siblings. */
.button {
  font-weight: 700;
}

.button:focus {
  z-index: 10;
}
.button:active {
  -webkit-transition: none;
  transition: none;
  background-color: #dfdfd9;
}

.button--primary {
  padding: 13px 24px;
  color: #fff;
  border-color: #7cbc48;
  background-color: #7cbc48;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.button--primary:hover,
.button--primary:focus {
  color: #fff;
  border-color: #6aab35;
  background-color: #6aab35;
}

/**
 * Overrides styling from system.theme.
 */
.button-action::before {
  margin-left: -0.2em; /* LTR */
  padding-right: 0.2em; /* LTR */
  font-size: 0.875rem;
  line-height: 16px;
  -webkit-font-smoothing: auto;
}
[dir="rtl"] .button-action::before {
  margin-right: -0.2em;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0.2em;
}

.button:disabled,
.button:disabled:active,
.button.is-disabled,
.button.is-disabled:active {
  cursor: default;
  color: #5c5c5c;
  border-color: #d4d4d4;
  background: #ededed;
}

/* Link actions.
 * Style a clickable/tappable element as a link. Duplicates the base style for
 * the <a> tag, plus a reset for padding, borders and background.
 */
.link {
  display: inline;
  padding: 0 2px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #0678be;
  border: 0;
  background: none;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.link:hover,
.link:focus {
  text-decoration: none;
  outline: transparent;
}

.link:hover {
  color: #999;
}

/**
 * We've temporarily added the danger button here, bit of a harsh reset but we
 * need it.
 * @todo replace with link--danger.
 * See https://www.drupal.org/node/2123731
 */
.button--danger,
.media-library-item__remove {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button--danger:hover,
.button--danger:focus,
.button--danger:active,
.media-library-item__remove:hover,
.media-library-item__remove:focus,
.media-library-item__remove:active {
  color: #c72100;
  border-color: #c72100;
  background: none;
}
.button--danger:disabled,
.button--danger.is-disabled,
.media-library-item__remove:disabled,
.media-library-item__remove.is-disabled {
  cursor: default;
  text-decoration: none;
  color: #737373;
  background: none;
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
}
