.chosen-container {
  padding: 0 !important;
  border: 0 !important;
}

.chosen-container .chosen-drop {
  top: 38px !important;
  flex-direction: column;
  border: 1px solid #d1d1d1;
  border-radius: 0 !important;
  box-shadow: none;
}

.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  background: #fcfcf9;
  box-shadow: none;
}

.chosen-container-single .chosen-search {
  width: 100%;
}

.chosen-container-single .chosen-single div b {
  background-position: 0 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: #fcfcf9;
}

.chosen-container .chosen-results {
  width: 100%;
  padding: 0 4px;
}

.chosen-container .chosen-results li {
  padding: 8px 6px;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #0071b8;
  background-image: none;
}

.chosen-container-multi .chosen-choices {
  background-image: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
  border: 0;
  background-color: #e2e2e2;
  background-image: none;
  box-shadow: none;
}

.chosen-container-active .chosen-choices {
  box-shadow: none;
}

.chosen-container-multi {
  width: 100% !important;
}
