/**
 * @file
 * Inline items.
 */

.container-inline .form-radios label::after {
  content: '';
}

.container-inline label::after,
.container-inline .label::after {
  content: ':';
}

.container-inline .form-radios .form-type-radio {
  margin-right: 1em;
}
[dir="rtl"] .container-inline .form-radios .form-type-radio {
  margin-right: 0;
  margin-left: 1em;
}
