/* Field UI */

#field-display-overview .field-plugin-settings-edit {
  order: 1;
  margin: 0;
  padding: 4px 10px;
}

#field-display-overview .field-plugin-settings-changed {
  background: #ffb;
}
#field-display-overview .drag {
  background: #f9f8e6;
}
#field-display-overview .field-plugin-settings-editing {
  background: #f7fcff;
}
#field-display-overview .field-plugin-settings-edit-form .form-item {
  margin: 10px 0;
}

#field-display-overview .field-plugin-settings-edit-form .form-wrapper .ajax-progress {
  margin-left: 10px;
}

#field-display-overview .field-plugin-settings-edit-form .form-submit {
  margin-bottom: 0;
}
#field-display-overview .form-item-fields-field-image-settings-edit-form-settings-image-style .description {
  display: inline-block;
  margin-left: 1em; /* LTR */
}
[dir="rtl"] #field-display-overview .form-item-fields-field-image-settings-edit-form-settings-image-style .description {
  margin-right: 1em;
  margin-left: 0;
}
