/**
 * Form elements.
 */
form {
  margin: 0;
  padding: 0;
}

fieldset:not(.fieldgroup) {
  position: relative;
  display: flex;
  min-width: fit-content;
  margin: 0 0 20px 0;
  padding: 55px 20px 20px 20px;
  border: none;
  background-color: #f5f5f5;
}

fieldset:not(.fieldgroup) .form-type-checkbox {
  margin-bottom: 10px;
}

fieldset:not(.fieldgroup) fieldset:not(.fieldgroup) {
  padding-right: 0;
  padding-left: 0;
}

fieldset:not(.fieldgroup) .fieldset-wrapper {
  width: 100%;
}

/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */
@-moz-document url-prefix() {
  fieldset:not(.fieldgroup) {
    display: table-cell;
    box-sizing: border-box;
  }
}

fieldset:not(.fieldgroup) > legend {
  position: absolute;
  top: 15px;
  text-transform: uppercase;
  color: #0678be;
  font-size: 14px;
  font-weight: 700;
}

.fieldgroup {
  min-width: 0;
}

/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */
@-moz-document url-prefix() {
  .fieldgroup {
    display: table-cell;
    box-sizing: border-box;
  }
}

.form-item {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 0 20px 0;
}

.form-item > .form-item {
  margin: 0;
}

table .form-item {
  margin: 0;
}

.form-type-checkbox {
  width: auto;
  padding: 0;
}

.form-type-checkbox label {
  font-weight: 400;
}

label {
  display: table;
  margin: 0 10px 5px 0;
  padding: 0;
  font-weight: 700;
}

label.error {
  color: #a51b00;
}

label[for] {
  cursor: pointer;
}

.form-actions {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
}

.form-wrapper .form-actions {
  display: inline-block;
}

.views-form .form-actions,
.form--inline .form-actions {
  position: relative;
  z-index: 1;
  width: auto;
  margin: 0 0 0 0;
  padding: 0;
  border: none;
}

table .form-actions {
  border-top: 0;
  background: transparent;
}

@media screen and (min-width: 640px) {
  .form-actions {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  /* .form-actions {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #f5f5f5;
    background-color: #fff;
  } */

  .form-wrapper .form-actions {
    position: relative;
    padding: 10px 0 0 0;
    border-top: 0;
    background: transparent;
  }
}

.confirmation .form-actions {
  display: flex;
  margin-top: 10px;
}

.form-item label.option {
  display: inline;
  margin-left: 5px;
  text-transform: none;
  font-weight: 400;
}

.form-item label.option input {
  vertical-align: middle;
}

.form-disabled label {
  color: #686868;
}

.form-disabled input.form-text,
.form-disabled input.form-tel,
.form-disabled input.form-email,
.form-disabled input.form-url,
.form-disabled input.form-search,
.form-disabled input.form-number,
.form-disabled input.form-color,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  width: auto;
  color: #777;
  border-color: #d4d4d4;
  background-color: hsla(0, 0%, 0%, 0.08);
  box-shadow: none;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  color: #a51b00;
  border-width: 1px;
  border-color: #e62600;
  background-color: hsla(15, 75%, 97%, 1);
}

.form-item input[type="checkbox"]:checked.error,
.form-item input[type="radio"]:checked.error {
  background: #0678be;
  box-shadow: inset 0 0 0 3px #fff;
}

.form-item textarea.error + .cke {
  border-width: 1px;
  border-color: #e62600;
}

.form-item input.error:focus,
.form-item textarea.error:focus,
.form-item select.error:focus {
  border-color: #e62600;
  outline: transparent;
  background-color: #fcf4f2;
}

.form-required::after {
  margin-left: 4px;
  content: "*";
  color: #e32700;
}

.form-item--error-message {
  margin-top: 0.15em;
  color: #e32700;
}

.fieldset-wrapper > .form-item--error-message {
  margin-top: 0;
}

.text-format-wrapper .form-item--error-message {
  margin: 0;
  padding: 0.25em 0.666em 0;
  border: solid #ccc;
  border-width: 0 1px;
}

/* Filter */
ul.tips,
.form-wrapper .description,
.form-item .description {
  margin: 0;
  padding-top: 5px;
  opacity: 0.8;
  color: #333;
  font-size: 12px;
  line-height: 18px;
}

.form-wrapper td.description {
  padding-top: 20px;
}

div.description {
  margin: 0;
  color: #333;
}

.form-item .description.error {
  margin-top: 0;
  color: #a51b00;
}

.form-item .description ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.description .token-dialog {
  margin: 0;
}

.token-dialog {
  display: inline-flex;
  margin: 5px 10px 20px 0;
}

ul.tips li {
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */
}

[dir="rtl"] ul.tips li {
  margin: 0.25em 1.5em 0.25em 0;
}

table .form-type-radio,
table .form-type-checkbox {
  padding-left: 0;
}

.form-type-radio,
.form-type-checkbox {
  padding-left: 25px;
}

[dir="rtl"] .form-type-radio,
[dir="rtl"] .form-type-checkbox {
  padding-right: 25px;
  padding-left: 0;
}

.form-type-checkbox .form-checkbox,
.form-type-radio .form-radio,
.form-type-checkbox .dummy-checkbox {
  margin-left: -25px;
}

table .form-type-checkbox .form-checkbox,
table .form-type-radio .form-radio,
table .form-type-checkbox .dummy-checkbox {
  margin-left: 0;
}

.text-summary-wrapper .form-textarea-wrapper {
  display: flex;
}

.text-summary {
  width: 100%;
}

.form-autocomplete,
.form-text,
.form-tel,
.form-email,
.form-url,
.form-search,
.form-number,
.form-color,
.form-file,
.form-date,
.form-time,
.form-textarea,
.form-select {
  box-sizing: border-box;
  min-width: 240px;
  min-height: 44px;
  padding: 10px 12px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  color: #333;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  background: #fcfcfa;
  font-size: 14px;
  line-height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select {
  min-width: 280px;
  padding: 9px 28px 9px 12px;
  cursor: pointer;
  background: #fcfcfa url(../../images/icons/787878/twistie-down.svg) no-repeat
    center right 10px;
  background-size: 11px;
}

#edit-gd-image-jpeg-quality {
  width: auto;
  min-width: auto;
}

/* Select2 */
.form-select.select2-widget {
  background-image: none;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  padding: 10px 12px;
  border: 1px solid #d1d1d1;
  border-radius: 0;
}

.select2-container--default .select2-search--inline .select2-search__field {
  width: 100% !important;
}

.form-select[multiple] {
  background-image: none;
}

.tabledrag-hide .form-select {
  width: 60px;
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus,
.form-select:focus {
  border-color: #40b6ff;
  outline: transparent;
  background-color: #fff;
}

.confirm-parent,
.password-parent {
  overflow: visible;
  width: auto;
}

.form-item-options-group-info-identifier,
.form-item-pass .description {
  clear: both;
}

.field-suffix {
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 38px;
}

.field-prefix {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.field-prefix span {
  margin: 0 5px;
}

.form-item-path {
  display: block;
}

.form-item-path label::after {
  margin-left: 0;
  content: ":";
  color: #333;
}

.field-weight,
.menu-weight {
  width: 60px;
  min-width: 60px;
}

.field-ui-field-storage-add-form .field-prefix .field-suffix {
  display: none;
}

@media screen and (min-width: 640px) {
  .form-select {
    width: auto;
    min-width: 280px;
  }
}

@media screen and (max-width: 640px) {
  .form-actions input,
  .form-wrapper input[type="submit"] {
    width: 100%;
    margin-right: 0;
  }

  .form-actions input:first-child,
  .form-wrapper input[type="submit"]:first-child {
    margin-left: 0;
  }

  details summary {
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .password-strength {
    width: 100%;
  }

  .form-item .password-suggestions {
    float: none;
  }

  #dblog-filter-form .form-actions {
    float: none;
    padding: 0;
  }

  #edit-cancel {
    display: block;
    margin: 10px 0 0 0;
  }
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

abbr.tabledrag-changed {
  margin: 0 2px;
  text-decoration: none;
  border-bottom: none;
}

.form-item-config-name {
  position: relative;
}

.form-item-config-name .ajax-progress {
  position: absolute;
  top: 15px;
  left: 300px;
}

/* confirmation form */
.confirmation .item-list ul {
  margin-left: 0;
  padding-left: 20px;
}

/* uninastll form */
.system-modules-uninstall table thead tr th:nth-child(2) {
  width: 20%;
}

/* Entity browser - In case the entity browser has it's own buttons */
form.entity-browser-form {
  margin-bottom: 81px;
}

.field--type-office-hours th,
.field--type-office-hours td,
.field--type-office-hours .form-select,
.field--type-office-hours .form-text {
  min-width: fit-content;
}

.view-media-entity-browser,
.entity-browser-form .entities-list::after {
  display: flex;
  flex-direction: column;
}

.entities-list .item-container > input {
  display: inline-block;
}

.eb-tabs {
  margin-bottom: 1rem;
}
.eb-tabs ul li.active {
  border-bottom: 3px solid #0e4f8a;
}

#search-block-form {
  display: flex;
}

@media (max-width: 767px) {
  .user-login-form .form-item input,
  .comment-comment-form .field--name-subject .form-type-textfield input {
    width: 100%;
  }
}

/*Comment section design*/  
.comment-wrapper .comment {
  background: #f5f5f5;
  padding: 20px 20px 40px;
  margin-bottom: 20px;
}
.comment-wrapper .indented {
  margin-left: 30px;
}
.comment-wrapper .comment .inline {
  margin-bottom: 0;
}
