/**
 * @file
 * Mediteran styles for the help component.
 */

.block-help {
  margin-bottom: 20px;
  padding: 0;
  word-wrap: break-word;
  background-repeat: no-repeat;
  background-position: 16px 19px;
  background-size: 16px;
  overflow-wrap: break-word;
}

.block-help p,
.block-help p a {
  margin: 0;
  line-height: 1.8;
}

.block-help h2 {
  margin-top: 0;
}

/* help section */

.help-section ul {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .help-section .layout-column:nth-child(odd) ul {
    padding: 0 10px 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .help-section ul {
    padding: 0 10px 0 0;
  }

  .help-section .layout-column:last-child ul {
    padding: 0;
  }
}

.help-section ul li {
  margin-bottom: 10px;
  list-style: none;
}

.help-section ul li a {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  background: #f5f5f5;
  font-weight: 700;
}

.help-section ul li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.help-section ul li a:hover {
  background: #eff9ff;
}
