/* Modules page */
.system-modules fieldset {
  border: 0;
  border-top: 1px solid #ccc;
}
.system-modules details {
  margin: 0;
  padding: 0;
  border: 0;
}
.system-modules summary {
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
  line-height: 1;
}
.system-modules [open] summary {
  border-bottom: none;
}
.system-modules .details-wrapper {
  padding: 0 0 0.5em 0;
}
.system-modules .fieldset-wrapper {
  padding: 0;
}
.system-modules table,
.locale-translation-status-form table {
  margin: 0;
  border: 0;
}
.system-modules tr.even,
.system-modules tr.odd,
.locale-translation-status-form tr.even,
.locale-translation-status-form tr.odd {
  border: 0;
  border-bottom: 10px solid #fff;
  background: #f5f5f5;
}
.system-modules tr td:last-child,
.locale-translation-status-form tr td:last-child {
  border: 0;
}
.system-modules table th,
.locale-translation-status-form table th {
  border: 0;
  border-bottom: 10px solid #fff;
}
.system-modules .sticky-header th,
.locale-translation-status-form .sticky-header th {
  border: 0;
}

.system-modules .form-actions {
  margin-top: 20px;
}
