/**
 * @file
 * CSS for off-canvas dialog.
 */

.ui-dialog-off-canvas {
  border-left: 1px solid #e6e4df;
}

.ui-dialog-off-canvas .ui-widget-content.ui-dialog-content {
  padding: 0;
}

.ui-dialog-off-canvas .ui-tabs .ui-tabs-panel {
  padding: 20px;
}

.ui-dialog-off-canvas .ui-tabs .ui-tabs-nav {
  padding: 0;
  border-bottom: 0;
  background: #f5f5f5;
}

.ui-dialog-off-canvas .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin: 0;
  padding-bottom: 0;
  border: none;
  background: white;
}

.ui-dialog-off-canvas .ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover {
  background: white;
}

.ui-dialog-off-canvas .ui-tabs .ui-tabs-nav li {
  margin: 0;
  padding: 0;
  border: none;
}

.ui-dialog-off-canvas .ui-tabs .ui-tabs-nav li a {
  display: flex;
  padding: 10px 20px;
  line-height: 1.8;
}
.ui-dialog-off-canvas .ui-tabs .ui-tabs-nav li a:hover {
  background: #f9f9f9;
}

.ui-dialog-off-canvas fieldset:not(.fieldgroup) {
  margin: 0;
  background: none;
}

.ui-dialog-off-canvas details fieldset:not(.fieldgroup) {
  padding: 55px 0 0 0;
}

.ui-dialog-off-canvas .ui-dialog-content .form-actions {
  position: relative;
  right: 0;
  padding: 20px;
}

.ui-dialog-off-canvas details {
  margin: 0 0 5px 0;
}

.ui-dialog-off-canvas table,
.ui-dialog-off-canvas .form-wrapper {
  margin-bottom: 20px;
}

.ui-dialog-off-canvas .form-wrapper {
  flex-wrap: wrap;
}

.ui-dialog-off-canvas .form-wrapper:last-child {
  margin-bottom: 0;
}

.ui-dialog-content .container-inline .form-item {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .ui-dialog-off-canvas .form-wrapper {
    flex-wrap: nowrap;
  }

  .ui-dialog-off-canvas .form-item,
  .ui-dialog-content .container-inline .form-item,
  .ui-dialog-off-canvas .button.button--small {
    margin-left: 20px;
  }

  .ui-dialog-off-canvas .details-wrapper .form-item,
  .ui-dialog-off-canvas fieldset .form-item {
    margin-left: 0;
  }
}

.ui-dialog-content .container-inline .form-item:first-child {
  margin-left: 0;
}

.ui-dialog-off-canvas .button {
  margin-right: 20px;
  margin-left: 0;
}

.ui-dialog-off-canvas .button:last-child {
  margin-right: 0;
}
