/**
 * @file
 * Styles for Mediteran's Pagination.
 */

nav.pager {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #e6e4df;
}

.pager__items {
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
}

.pager__item {
  display: inline-flex;
  margin: 0 10px 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.pager__item a,
.pager__item.is-active {
  padding: 5px 10px;
  transition: all 0.2s;
  text-decoration: none;
  color: #333;
  border: 1px solid #b8b8b8;
  background-color: #f5f5f5;
  font-weight: 700;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}
.pager__item.is-active a,
.pager__item.is-active {
  background-color: white;
}

.pager__item.is-active a {
  padding: 0;
  border: 0;
}

.pager__item a:hover,
.pager__item a:focus {
  color: #0678be;
  border-color: #0678be;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .pager__items {
    text-align: left;
  }
}
