/**
 * @file
 * Styles for administration pages.
 */

/**
 * Add search page select/submit.
 */
.search-admin-settings .container-inline {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.search-admin-settings label[for="edit-search-type"] {
  display: block;
}

.search-admin-settings .container-inline .button {
  margin-top: 20px;
  margin-left: 0;
}

.search-admin-settings .form-item-search-type {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.search-admin-settings .form-item-search-type label {
  margin-bottom: 5px;
}

@media screen and (min-width: 640px) {
  .search-admin-settings .container-inline {
    flex-direction: row;
  }
  .search-admin-settings .container-inline .button {
    margin-top: 30px;
    margin-left: 20px;
  }

  .search-admin-settings .form-item-search-type {
    width: auto;
  }
}
