/**
 * @file
 * Tablesort indicator styles.
 */

.tablesort {
  position: absolute;
  top: 50%;
  right: 0;
  float: right; /* LTR */
  width: 0;
  height: 0;
  margin-top: -2px;
  margin-left: -4px;
  border-style: solid;
}
[dir="rtl"] .tablesort {
  float: left;
}
.tablesort--asc {
  border-width: 5px 4px 0 4px;
  border-color: #888 transparent transparent transparent;
}
a:hover .tablesort--asc {
  border-color: #0678be transparent transparent transparent;
}
.tablesort--desc {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #888 transparent;
}
a:hover .tablesort--desc {
  border-color: transparent transparent #0678be transparent;
}
