/**
 * Tab
 *
 */
.tabs__tab {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;  /* 1 */
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabs__tab:hover,
.tabs__tab:focus {
  background-color: #f9f9f9;
}
li.tabs__tab {
  display: block;
  padding: 0;
}
/* This is required to win over specifity of [dir="rtl"] .tabs__tab */
[dir="rtl"] li.tabs__tab {
  padding-right: 0;
  padding-left: 0;
}
li.tabs__tab a {
  display: flex;
  padding: 10px 20px; /* LTR */
}

.tabs a:hover,
.tabs a:focus {
  text-decoration: none;
}

/* Primary tabs */
.tabs.primary {
  clear: both;
  margin: 0;
  padding: 0;
}
.tabs.primary .tabs__tab .is-active {
  z-index: 15;
  background-color: white;
}

.tabs__trigger {
  display: none;
}

/* JS dependent styling */

.is-collapse-enabled .tabs__tab a {
  background: white;
}

.is-collapse-enabled .tabs__trigger {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0; /* LTR */
  left: auto; /* LTR */
  display: block;
  box-sizing: content-box;
  width: 25%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  letter-spacing: 0.1em;
  color: #0678be;
  border-left: 0; /* LTR */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 45px;
}
.is-collapse-enabled .tabs__trigger:focus {
  outline: transparent;
}
[dir="rtl"] .is-collapse-enabled .tabs__trigger {
  right: auto;
  left: 0;
}
.is-collapse-enabled .tabs {
  max-height: 0;
  padding-top: 45px;
}
.tabs.is-open {
  max-height: 999em;
  padding-bottom: 0;
}
.is-collapse-enabled .tabs__tab.is-active {
  position: absolute;
  top: 0;
  left: 0; /* LTR */
  width: 75%;
  border-bottom: 0;
}
[dir="rtl"] .is-collapse-enabled .tabs__tab.is-active {
  right: 0;
  left: auto;
}
.is-collapse-enabled .tabs.primary a.is-active::before {
  content: none;
}
.is-open .tabs__tab.is-active {
  color: #004f80;
  border-color: #a6a6a6;
  background-color: #fff;
}

/* Styles for the horizontal state always take priority */
.is-horizontal .tabs {
  overflow: visible;
  max-height: none;
  padding-top: 0;
}
.is-horizontal .tabs__tab {
  float: left; /* LTR */
  width: auto;
  height: auto;
  margin: 0;
  text-align: center;
  border-bottom-color: #a6a6a6;
}
[dir="rtl"] .is-horizontal .tabs__tab {
  float: right;
  /* This is required to win over specifity of [dir="rtl"] .tabs > li */
  margin-left: 0;
}
.is-horizontal .tabs__tab + .tabs__tab {
  margin-left: 0; /* LTR */
}
[dir="rtl"] .is-horizontal .tabs__tab + .tabs__tab {
  margin-right: 0;
  margin-left: 0;
}

/* Override the states above */
.is-horizontal .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  position: relative;
  top: 0;
  width: auto;
  margin: 0;
  border-bottom: 0;
  background: white;
}
.is-horizontal .tabs.primary a {
  background-image: none;
}
.is-horizontal .tabs__trigger {
  display: none;
}

/* Secondary tabs */
.tabs.secondary {
  display: block;
  margin: 16px 0 0 0;
  padding: 0;
}
.tabs.secondary .tabs__tab {
  display: block;
  margin: 0;
  padding: 0;
  -webkit-transition: border-color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, background-color 0.2s;
}

/* This is required to win over specificity of [dir="rtl"] .tabs.secondary .tabs__tab */
[dir="rtl"] .views-displays .tabs.secondary li,
[dir="rtl"] .views-displays .tabs.secondary li.is-active {
  padding-right: 0;
  padding-left: 0;
}

.tabs.secondary .tabs__tab.is-active {
  margin-left: -2px; /* LTR */
  color: #0678be;
  border-left: 2px solid #0678be; /* LTR */
}
[dir="rtl"] .tabs.secondary .tabs__tab.is-active {
  margin-right: -2px;
  margin-left: 0;
  border-right: 2px solid #0678be;
  border-left: none;
}
/* This is required to win over specificity of [dir="rtl"] .tabs.secondary .tabs__tab.is-active */
[dir="rtl"] .views-displays .tabs.secondary li.is-active {
  padding-right: 0;
  border: 0 none;
}
.tabs.secondary .tabs__tab:hover,
.tabs.secondary .tabs__tab:focus {
  background: none;
}

/* This is required to win over specificity of [dir="rtl"] .tabs.secondary .tabs__tab:hover */
[dir="rtl"] .views-displays .tabs li.tabs__tab:hover {
  padding-right: 0;
  border: 0 none;
}
.tabs.secondary a {
  padding: 5px 20px;
  text-decoration: none;
  background-color: transparent;
}

/* This is required to win over specificity of [dir="rtl"] .tabs.secondary a */
[dir="rtl"] .views-displays .tabs.secondary a {
  padding-right: 7px;
  padding-left: 7px;
}
.tabs.secondary .is-active a {
  color: #0678be;
}

/* Styles for the horizontal state */
.is-horizontal .tabs.secondary .tabs__tab {
  position: relative;
  z-index: 15;
  top: 0;
  float: left; /* LTR */
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
  border-top: 0;
  border-right-color: transparent; /* LTR */
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent; /* LTR */
  background: none;
}

.is-horizontal .tabs.secondary .tabs__tab:first-child {
  margin-left: 0;
}
/**
 * 1. This is required to win over specifity of
 *      [dir="rtl"] .tabs.secondary .tabs__tab:hover,
 *      [dir="rtl"] .tabs.secondary .tabs__tab:focus
 */
[dir="rtl"] .is-horizontal .tabs.secondary .tabs__tab {
  float: right;
  padding-right: 0; /* 1 */
  border-right: 1px solid transparent;
  border-left-color: transparent;
}
.is-horizontal .tabs.secondary .tabs__tab.is-active {
  border-bottom-color: #0678be;
}
.is-horizontal .tabs.secondary .tabs__tab:hover,
.is-horizontal .tabs.secondary .tabs__tab:focus {
  border-bottom-color: #63a4cc;
}

/* ui tabs */

.ui-tabs fieldset:not(.fieldgroup) {
  margin: 0 0 20px 0;
  padding: 55px 0 0 0;
  background-color: white;
}

.ui-tabs .ui-tabs-panel {
  padding: 20px 0 0 0;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
  border-bottom: 0;
  background: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  border-bottom: 2px solid #0678be;
  border-radius: 0;
  background: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover,
.ui-tabs .ui-tabs-nav li:hover {
  border-bottom: 2px solid #63a4cc;
  border-radius: 0;
  background: none;
}

.ui-tabs .ui-tabs-nav li {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

.ui-tabs .ui-tabs-nav li:first-child {
  margin-left: 0;
}

.ui-tabs .ui-tabs-nav li a {
  display: flex;
  padding: 10px 20px;
  border-radius: 0;
  line-height: 1.8;
}

@media (max-width: 575px) {
  .is-horizontal .tabs{
    border: 1px solid #d1d1d1;
    margin-bottom: 20px;
  }
  .is-horizontal .tabs li.tabs__tab{
    width: 100%;
    float: none;
    border-bottom: 1px solid #d1d1d1;
  }
  .is-horizontal .tabs li.tabs__tab:last-child{
    border-bottom: none;
  }
  .is-horizontal .tabs li.tabs__tab.is-active{
    border-bottom: 1px solid #d1d1d1 !important;
  }
}
