#media-library-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#media-library-add-form-wrapper {
  padding: 1rem;
  border-radius: 4px;
  background: #d9e8f4;
}

@media screen and (min-width: 640px) {
  .media-library-content {
    flex: 6;
  }
}

ul.media-library-menu {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: #f7fcff;
}

.media-library-menu li {
  flex: 1;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid rgba(6, 120, 190, 0.17);
  background-color: #fff;
}

@media screen and (min-width: 640px) {
  ul.media-library-menu {
    flex-direction: column;
    margin: 0 2rem 0 0;
    border-right: 4px solid #0678be;
  }

  .media-library-menu li {
    flex: unset;
    text-align: left;
  }
}

.media-library-menu li a {
  display: block;
  padding: 0.8rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2;
}

.media-library-menu li a.active {
  color: #fff;
  background-color: #0678be;
}

.media-library-menu li a:not(.active):hover {
  background-color: #f7fcff;
}

.view-media-library .view-header {
  align-self: flex-end;
  margin: 1em 0;
  text-align: right;
}

.view-media-library .views-display-link {
  margin: 0;
  padding: 4px 10px 4px 26px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border-radius: 26px;
  font-size: 15px;
  line-height: 16px;
}

.view-media-library .views-display-link.is-active {
  background-color: #d9e8f4;
}

.view-media-library .views-display-link-widget {
  margin-right: 15px;
  background: url(../../../../../core/misc/icons/333333/grid.svg) 6px center no-repeat;
}

.view-media-library .views-display-link-widget_table {
  background: url(../../../../../core/misc/icons/333333/table.svg) 6px center no-repeat;
}

.view-id-media_library .form--inline {
  align-items: center;
}

.view-id-media_library .form--inline .form-wrapper .form-submit {
  margin-top: 10px;
}

.view-id-media_library .media-library-grid-form__rows,
.view-id-media_library .media-library-views-form__rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.view-id-media_library .media-library-grid-form__rows .media-library-select-all,
.view-id-media_library .media-library-views-form__rows .media-library-select-all {
  width: 100%;
  margin-top: 12px;
}

.view-id-media_library .view-content .views-form form {
  display: flex;
  flex-wrap: wrap;
}

.view-id-media_library .view-content .views-form form .views-row picture {
  display: block;
}

.view-id-media_library .view-content .views-form form .views-row picture img {
  width: 100%;
}

.view-id-media_library .view-content .views-form form .views-row {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-basis: 44%;
  width: 44%;
  margin: 0.5rem 0.8rem;
  padding: 1rem;
  text-align: center;
  border: 2px solid transparent;
}

.view-id-media_library .view-content .views-form form .views-row .icon-link {
  position: absolute;
  z-index: 1;
  top: 3px;
  overflow: hidden;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0 2px;
  cursor: pointer;
  color: transparent;
  border: 1px solid #ccc;
  border-radius: 13px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: 16px 16px;
  text-shadow: none;
  font-size: 0;
}

.view-id-media_library .view-content .views-form form .views-row .media-library-item__edit {
  right: 38px;
  background-image: url(../../images/icons/bebebe/pencil.svg);
}

.view-id-media_library .view-content .views-form form .views-row .media-library-item__remove {
  right: 6px;
  background-image: url(../../images/icons/bebebe/ex.svg);
}

.media-librayr-item--name {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@media screen and (min-width: 640px) {
  .view-id-media_library .view-content .views-form form .views-row {
    flex-basis: 22%;
    width: 22%;
  }

  .media-librayr-item--name {
    white-space: nowrap;
  }
}

.view-id-media_library .view-content .views-form form .views-row:hover {
  border: 2px solid #0678be;
}

.view-id-media_library .view-content .views-form form .views-row.checked {
  border: 2px solid #0678be;
  background: #f7fcff;
}

.view-id-media_library .view-content .views-form form .views-row .views-field-media-library-select-form {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

#media-library-view .view-content .views-form form .views-row .views-field-rendered-entity .field--type-image img {
  max-width: 100%;
  height: auto;
}

.js-media-library-add-form .item-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.js-media-library-add-form .item-list ul li {
  max-width: 15%;
  margin: 0.5rem;
  list-style: none;
}

.js-media-library-add-form .item-list ul li img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.js-media-library-add-form .item-list ul li .form-item-name label {
  margin: 0;
}

.js-media-library-widget .js-media-library-selection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.js-media-library-widget .js-media-library-selection .js-media-library-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: flex-end;
  width: 22%;
  margin: 0.5rem 0.8rem;
  padding: 1rem;
  text-align: center;
}

.js-media-library-widget .js-media-library-selection .js-media-library-item img {
  max-width: 150px;
  height: 130px;
  object-fit: contain;
}

.js-media-library-widget .js-media-library-selection .js-media-library-item .form-submit {
  width: 100%;
  margin: 0;
}
