/**
 * @file
 * Throbber.
 */

.ajax-progress {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ajax-progress-throbber .throbber {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  padding: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 0.7s infinite linear;
  animation: load 0.7s infinite linear;
  border-top: 3px solid rgba(0,128,255, 0.3);
  border-right: 3px solid rgba(0,128,255, 0.3);
  border-bottom: 3px solid rgba(0,128,255, 0.3);
  border-left: 3px solid #0678be;
  border-radius: 100%;
}

.ajax-progress-throbber .message {
  display: none;
}
tr .ajax-progress-throbber .throbber {
  margin: 0 10px;
}
.ajax-progress-bar {
  width: 18px;
}

/* Full screen throbber */

.ajax-progress-fullscreen {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.ajax-progress-fullscreen::after {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -15px;
  margin-left: -15px;
  content: '';
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 0.7s infinite linear;
  animation: load 0.7s infinite linear;
  border-top: 5px solid rgba(0,128,255, 0.3);
  border-right: 5px solid rgba(0,128,255, 0.3);
  border-bottom: 5px solid rgba(0,128,255, 0.3);
  border-left: 5px solid #0678be;
  border-radius: 100%;
}
[dir="rtl"] .ajax-progress-fullscreen {
  right: 49%;
  left: auto;
}

/* keyframes animation */
/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
