/**
 * @file
 * Inline items.
 */

.container-inline {
  display: inline-flex;
}

.container-inline div,
.container-inline label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-inline input {
  align-self: flex-start;
}

.container-inline legend {
  margin-bottom: 15px;
}

.container-inline label {
  margin-bottom: 0;
}
.container-inline .fieldset-legend {
  font-weight: 700;
}

.container-inline .form-item {
  margin-bottom: 0;
}

.container-inline .details-wrapper .form-item {
  width: 100%;
  margin-bottom: 20px;
}

.container-inline .details-wrapper .form-item:last-of-type {
  margin-bottom: 0;
}

.container-inline .fieldset-wrapper .form-item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}

.container-inline .fieldset-wrapper .form-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 640px) {
  .container-inline div,
  .container-inline label {
    flex-direction: row;
    align-items: flex-start;
  }

  .container-inline .fieldset-wrapper .form-item {
    width: auto;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .container-inline .details-wrapper .form-item {
    width: auto;
    margin-right: 20px;
  }
}
