/**
 * @file
 * Styles for the system status counter component.
 */

.system-status-counter {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  background: #f5f5f5;
}
.system-status-counter__status-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.system-status-counter__status-icon::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 25px;
}

.system-status-counter__status-icon--error::before {
  background-image: url(../../../images/icons/error.svg);
}
.system-status-counter__status-icon--warning::before {
  background-image: url(../../../images/icons/warning.svg);
}
.system-status-counter__status-icon--checked::before {
  background-image: url(../../../images/icons/check.svg);
}

.system-status-counter__status-title {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.system-status-counter__title-count {
  display: block;
}
.system-status-counter__details {
  display: block;
  margin-top: 5px;
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}

.system-status-counter__details a {
  color: #333;
}

@media screen and (min-width: 61em) {
  .system-status-counter__status-icon,
  .system-status-counter {
    height: 65px;
  }
  .system-status-counter__status-icon {
    width: 65px;
  }

  .system-status-counter__status-icon::before {
    background-size: 35px;
  }
}
