/**
 * @file
 * Mediteran styles for the System Status general info.
 */
.system-status-general-info__header {
  overflow: hidden;
  margin: 10px 0 20px 0;
  font-size: 26px;
  font-weight: 300;
}

.system-status-general-info__items {
  display: flex;
  flex-direction: column;
}

.system-status-general-info__item {
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px 40px 5px;
}

@media screen and (min-width: 1024px) {
  .system-status-general-info__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .system-status-general-info__item {
    box-sizing: border-box;
    width: 33.33333%;
    padding: 0 40px 40px 5px;
  }

  .system-status-general-info__item:nth-child(2) {
    width: 66.66666%;
    padding-right: 0;
  }

  .system-status-general-info__item:last-child {
    padding: 0;
    border-right: none;
  }
}

.system-status-general-info__item-icon {
  display: inline-block;
  width: 55px;
  height: 55px;
  vertical-align: top;
}
.system-status-general-info__item-icon::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 35px;
}
.system-status-general-info__item-icon--d8::before {
  background-image: url(../../../images/icons/cccccc/d8-logo.svg);
}
.system-status-general-info__item-icon--clock::before {
  background-image: url(../../../images/icons/cccccc/clock.svg);
}
.system-status-general-info__item-icon--server::before {
  background-image: url(../../../images/icons/cccccc/server.svg);
}
.system-status-general-info__item-icon--php::before {
  background-image: url(../../../images/icons/cccccc/php-logo.svg);
  background-size: 45px;
}
.system-status-general-info__item-icon--database::before {
  background-image: url(../../../images/icons/cccccc/database.svg);
  background-size: 30px;
}

.system-status-general-info__item-details {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 60px);
  padding-left: 10px; /* LTR */
}
[dir="rtl"] .system-status-general-info__item-details {
  padding-right: 10px;
  padding-left: 0;
}

.system-status-general-info__item-title {
  margin: 15px 0;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #0678be;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.system-status-general-info__sub-item-title {
  margin: 0;
  font-size: 14px;
}

.system-status-general-info__sub-item__title {
  font-weight: bold;
}
.system-status-general-info__sub-item__value {
  display: block;
}

.system-status-general-info__run-cron {
  margin: 1em 0 0;
}

@media screen and (min-width: 60em) {
  .system-status-general-info__item-icon {
    width: 55px;
    height: 55px;
  }
  .system-status-general-info__item-icon::before {
    background-size: 35px;
  }
  .system-status-general-info__item-icon--php::before {
    background-size: 55px;
  }

  .system-status-general-info__run-cron {
    position: absolute;
    top: 1em;
    right: 1em; /* LTR */
    margin-top: 0;
  }
  [dir="rtl"] .system-status-general-info__run-cron {
    right: auto;
    left: 1em;
  }
}

@media screen and (max-width: 48em) {
  .system-status-general-info__header {
    display: none;
  }
  .system-status-general-info {
    margin-top: 25px;
    border-top: 0;
  }
}

.system-status-general-info__description {
  position: relative;
}
.system-status-general-info__description .cron-description__run-cron {
  position: relative;
  margin-top: 15px;
}

@media screen and (min-width: 480px) {
  .system-status-general-info__description .cron-description__run-cron {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -20px;
  }
}
