/**
 * @file
 * Styles for the system status report counters.
 */

.system-status-report-counters__item {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding-right: 20px;
}

.system-status-report-counters__item:last-child {
  padding-right: 0;
}

@media screen and (min-width: 60em) {

  .system-status-report-counters {
    display: flex;
    justify-content: space-between;
  }
}
