/**
 * @file
 * Language: add styling for elements that have a language attribute.
 */

/**
 * Show the user that a 'lang' tag has been applied by adding a thin dotted
 * border. We also append the value of the tag between brackets, for example:
 * '(en)'. Since the html element has a 'lang' attribute too we only target
 * elements within the html scope.
 */
html [lang] {
  outline: 1px dotted gray;
}
html [lang]::after {
  content: " ("attr(lang)")";
  color: #666;
  font-size: 10px;
}
